.profile {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1024px) {
  .profile {
    flex-direction: row;
    justify-content: start;
  }
}
