.popup__content-form {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
}
