.popup__header {
  margin: 25px auto 75px;
  padding: 0;
  color: #000000;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
}

@media (min-width: 1024px) {
  .popup__header {
    font-size: 24px;
    line-height: 29px;
    margin: 34px auto 54px;
  }
}
